.header {background: black; height: 100px; margin-bottom: 10px;}
.footer {background: black; height: 100px; margin-top: 100px; margin-bottom: 100px;}
.page {border: 2px solid black; }
.page__image {position: absolute; right: 5%; width: 500px; }
.page__h1 {
  color: white;
  font-size: 200%;
  font-family: "Brush Script Std";
  text-align: center;
}

.page__h2 {
  color: black;
  font-size: 200%;
  font-family: Pompadur, "Comic Sans MS",cursive;
  text-align: right;
  margin-right: 45%;
}
.page__p {
  font-size: 150%;
  text-align: left;
  font-family: cursive;
  margin-right: 45%;
  text-align: right;
}
.page__table {background: black; margin-left: 32%; color: white;}
.footer__icon {margin-left: 2px;}
