@font-face {
  font-family: MuseoSans;
  src: url(fonts/MuseoSansCyrl_2.otf);
}
@font-face {
  font-family: Avenir-Heavy;
  src: url(fonts/Avenir-Heavy.ttf);
}
@font-face {
  font-family: Avenir-Medium;
  src: url(fonts/Avenir-Medium.ttf);
}
@font-face {
  font-family: Avenir-Oblique;
  src: url(fonts/Avenir-Oblique.ttf);
}
@font-face {
  font-family: MuseoSans500;
  src: url(fonts/MuseoSans_500.otf);
}

.page{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.page__cell-1{
  padding-top: 1.9%;
  padding-left: 17.5%;
  padding-right: 17.5%;
}

a{
  color: white;
  text-decoration: inherit;
}

.header {
  width: 100%;
  height: 3em;
  background: white;

}

.header__logo{
  width: 4.8em;

}

.header__menu{
  float: right;
  list-style:none;
  margin-top: 0.2%;
  font-family: MuseoSans;
}

.header__list{
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline;
  margin: 1.1em;
  font-family: MuseoSans;
  color: black;
}

.link{
  color: black;
}

.header__link{
  text-transform: uppercase;
  font-size: 9pt;
  padding: 0.9em 2.9em;
  border-radius: 3em;
  text-decoration: none;
  color: white;
  background: rgb(14, 191, 221);
}


.content-1{
  display: table;
  width: 100%;
  height: 33.7em;
  background: url(images/Layer78.png) no-repeat;
  background-size: cover;

}

.content__text-1{
  width: 55%;
  padding-top: 27.4%;
  margin: 0 auto;
}

.content__icon{
  margin: 0 auto;
  display: table-cell;
}

.content__text--caption-1{
  display: table-cell;
  width: 64%;
  text-align: center;
  color: white;
  font-family: Avenir-Heavy;
  font-size: 30pt;
  margin-bottom: 0.1em;
}

.content__text--title-1{
  font-size: 13pt;
  color: white;
  font-family: Avenir-Medium;
  text-align: center;
}

.content__items{
  display: table;
  width: 50%;
  margin: 0 auto;
}

.content-2{
  display: table;
  width: 100%;
  height: 11.6em;
  background-color: white;
}

.content__text-2{
  width: 60%;
  margin: 0 auto;
}

.content__text--caption-2{
  padding-top: 1.4%;
  text-align: center;
  color: white;
  font-family: Avenir-Heavy;
  font-size: 30pt;
  color: rgb(14, 191, 221);
  margin-bottom: 1.2%;
}
.content__text--title-2{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 13.3pt;
  color: black;
  font-family: Avenir-Medium;
  text-align: center;
}

.content-3{
  width: 100%;
  height: 33.8em;
  background-color: rgb(14, 191, 221);
}

.content__text-3{
  width: 100%;
}

.content__text--caption-3{
  padding-top: 3.2%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Avenir-Heavy;
  font-size: 30pt;
  margin-bottom: 0.1em;
}

.content__block-image{
  display: table;
  margin: 0 auto;
  padding-top: 2.8em;
  margin-bottom: 5em;
}

.content__image-1{
  display: table-cell;
}
.content__image-2{
  display: table-cell;
}
.content__image-3{
  display: table-cell;
}

.content__text--caption-4{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Avenir-Heavy;
  color: white;
}
.content__text--title-4{
  padding: 0;
  margin: 0;
  font-family: Avenir-Oblique;
  font-style: italic;
  text-align: center;
  color: white;
}

.content__images--circle{
  width: 135px;
  margin: 32px;
  margin-bottom: 1%;
}

.content__link{
  margin: 0 auto;
  width: 127px;
}

.content__button{
  text-transform: uppercase;
  color: white;
  font-family: Avenir-Heavy;
  padding: 10px 10px;
  background-color: rgb(14, 191, 221);
  border: 1px solid white;
  border-radius: 15px;
}

.content__button:hover{
  color: rgb(14, 191, 221);
  background-color: white;
}

.content-4{
  height: 33.7em;
}

.content__map{
  height: 33.7em;
  width: 100%;
}

.footer{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10em;
  background: rgb(69, 73, 77);
}

.page__cell-2{
  padding-left: 17.5%;
  padding-right: 17.5%;
  height: auto;
}

.footer__menu{

}

.footer__list-1{
  padding: 0;
  display: table-cell;
  padding-top: 1.7em;
  padding-bottom: 1.1em;
}
.footer__text--title-1{
  display: inline;
  margin: 10px;
  font-family: MuseoSans500;
  text-transform: uppercase;
  color: white;
  font-size: 8.5pt;
}

.footer__images{
  display: table-cell;
  float: right;
}

.footer__image{

  padding-top: 1em;
  margin: 5px;
  width: 35px;
}

hr{
  color: white;
  width: 100%;
  opacity: 0.2;
}

.footer__list-2{
  margin: 0;
  float: right;
  padding: 0;
  display: table-cell;
  padding-bottom: 1.1em;
  font-size: 5pt;
}

.footer__text--title-2{
  display: inline;
  margin: 5px;
  font-family: MuseoSans500;
  color: grey;
  font-size: 8pt;
}
