
img {margin-left:300px; margin-bottom: 10px;}
H1 {
  color:darkorchid;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

H2 {
  color:  indigo;
  font-size: 200%;
  font-family: "Times new roman", Verdana, sans-serif;
  text-align: center;
}
p {text-align: center;}
